/* Defaults for Element Selectors */
html {
    scroll-behavior: smooth;
}

div h1, div h5, div h6 {
    font-family: 'Montserrat';
}

div h2 {
    font-size: calc(33.3px + 3vw);
}

div h3 {
    font-size: calc(20px + 1vw);
}

div h3, div h4 {
    font-family: 'Comfortaa';
    font-weight: 200;
}

p {
    font-family: 'Raleway';
    font-size: 16px;
}

ul {
    font-family: 'Raleway';
    list-style-type: none;
    padding: 0;
}

hr {
    width: 100%;
}

div a {
    color: white;
}


/* Navigation */ 

nav {
    display: grid;
    grid-column: 1 / 5;
    grid-template-columns: repeat(6, 1fr);
    background-color: #474853;
    color: white;
}

.navbar {
    /* Overwrite Bootstrap default padding for navbar */
    padding: 0px !important;
}

.navbar-nav {
    padding-right: 0;
}

.nav-item:hover {
    background-color: #27292E;
}

.nav-link {
    /* Overwrite Bootstrap default padding for nav links */
    padding-top: 15px !important;
    width: 100%;
    height: 100%;
}

.nav-link:hover {
    color: white;
}


/* Scaffold & Structure */

.content {
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Raleway';
    background-image: linear-gradient(to bottom, #FFFFFF, #DEDEDE);
}

.section {
    width: 100%;
    display: grid;
    grid: auto-flow / .5fr 1.5fr 1.5fr .5fr;
    scroll-margin-top: 15px;
}

.section > div {
    grid-column: 2 / span 2;
}

.section:nth-child(odd) {
    background: no-repeat fixed url(images/background.jpg);
    background-size: cover;
}

.section:nth-child(odd) {
    color: white;
}

.section:nth-child(odd) h3 {
    color: #DEDEDE;
}

.section:nth-child(odd) hr {
    background-color: #86B3D1;
}

.section:nth-child(even) {
    color: #474853;
}

.section:nth-child(even) .section-title h2 {
    color: #474853;
}

.section:nth-child(even) .section-title h3 {
    color: #844D36;
}

.section:nth-child(even) hr {
    background-color: #474853;
}

.section:last-child {
    background-color: #474853;
    border-top: 1px solid #8E8268;
}

.section:last-child .section-title h2 {
    color: white;
}

.section:last-child .section-title h3 {
    color: #86B3D1;
}

.section:last-child .section-title hr {
    background-color: #8E8268;
}

.section-title {
    text-align: center;
    padding: 50px 0;
}

.section-info {
    padding-bottom: 50px;
}

.section-info [class$="-section"] {
    margin-bottom: 45px;
}

.section-info hr {
    margin: 70px 0;
}

.stat-blurb h5, .stat-blurb p {
    margin: 0 10px 0 0;
}

.stat-blurb p:last-child {
    font-style: italic;
}

[class$="details"] ul {
    margin-left: 15px;
}

[class$="details"] li {
    margin-bottom: 15px;
    line-height: 1.4;
}

[class$="details"] li > ul li {
    margin-bottom: 0;
}


/* Banner */

#banner {
    grid: auto / .5fr 1.5fr 1.5fr .5fr;
    height: 100vh;
    padding: 25vh 3vw 15vh;
    justify-items: center;
    align-items: center;
}

#banner h1 {
    display: block;
    grid-column: 1 / 3;
    padding-right: 3%;
    font-size: calc(40px + 3vw);
    font-weight: 400;
    text-shadow: 0px 3px 5px #000000;
}

#banner h2 {
    display: block;
    grid-column: 3 / 5;
    padding-left: 3%;
    font-size: calc(18px + 1vw);
    border-left: 2px solid #86B3D1;
}

/* Profile */

.profile-blurb-section {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    gap: 15px;
}

.profile-blurb-section:last-child {
    justify-items: center;
    
}

.profile-blurb-section:last-child div {
    width: 45%;
}

.profile-blurb-section:last-child a {
    color: #844D36;
}

.profile-blurb-section:last-child a:hover {
    color: #844D36;
}

.profile-blurb-separator {
    margin: 50px 0;
}

#download-resume-button {
    display: inline-block;
    background-color: #474853;
    color: white;
    margin: 5px 0;
    padding: 7px 10px 7px 7px;
    border-radius: 5px;
}

#download-resume-button:hover {
    background-color: #8E8268;
    text-decoration: none;
}

.profile-blurb-header {
    color: #844D36;
    font-size: 26px;
}

.profile-blurb-header i {
    display: inline-block;
    margin-right: 10px;
    font-size: 1.2em;
    vertical-align: text-bottom;
}

#download-resume-button i {
    display: inline-block;
    margin-right: 5px;
    vertical-align: bottom;
}

#stats li {
    display: grid;
    grid: auto / .85fr 1fr;
}

#stats .label {
    color: #8E8268;
    font-weight: bold;
}

#profile-pic-image {
    width: 200px;
    height: 200px;
    display: block;
    border: 10px solid #8E8268;
    border-radius: 15px;
}

.cert-item a {
    color: #474853;
    display: grid;
    grid: auto / .75fr 1fr;
    gap: 5px;
}

.cert-item a:hover {
    color: #474853;
}

.cert-item a .value {
    margin: auto;
}


/* Experience */

.company-stats {
    margin-bottom: 25px;
}

.company-stats h4 {
    font-size: 30px;
    font-weight: 700;
}

.company-stats h5 {
    font-size: 20px;
    margin-top: -10px;
    color: #DEDEDE;
}

.position-section {
    display: grid;
    grid: auto / .5fr 1fr;
    color: #DEDEDE;
    margin-bottom: 45px;
    gap: .5fr
}

.position-section h5 {
    color: white;
}

.position-stats p:last-child {
    color: #86B3D1;
}


/* Education */

.education-section {
    display: grid;
    grid: auto / .5fr 1fr;
}

.education-section h4 {
    color: #844D36;
    margin-bottom: 0;
    font-weight: bold;
}

.education-stats h5, .education-stats p {
    color: #8E8268;
}

.education-details h5 {
    color: #844D36;
    margin-bottom: 0;
    font-weight: bold;
}

.education-details p:first-of-type {
    color: #8E8268;
}


/* Skills */

#skills .section-info {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

#skills .skill-blurb {
    width: 40%;
}

.skill-blurb p {
    margin-bottom: 1em;
    font-size: 24px;
}

#skills .skill-blurb ul {
    display: grid;
    grid: auto / 1fr;
}

.skill-blurb li {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    line-height: 1.1;
}

.skill-blurb li:nth-child(odd) {
    color: white;
}

.skill-blurb li:nth-child(even) {
    color: white;
}

.skill-blurb .value {
    white-space: nowrap;
    flex-grow: 2;
    text-align: end;
}

#ratings-modal-link span {
    vertical-align: super;
}

#ratings-modal-link:hover {
    color: white;
    text-decoration: none;
}

#ratings-modal-link:hover span {
    text-decoration: underline;
}


/* Contact */

#contact .section-info ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

#contact .section-info ul li {
    padding-top: 5px;
    justify-self: center;
}

.contact-link {
    display: grid;
    grid: auto / .05fr .995fr;
    justify-content: space-around;
    column-gap: 15%;
    grid-row-gap: 10px;
}

.contact-link:hover {
    color: white;
    text-decoration: none;
}

.contact-link:hover span {
    text-decoration: underline;
}

.contact-link i, .contact-link img {
    width: 24px;
    height: 24px;
}

.contact-link:hover i, .contact-link:hover img {
    color: white;
}


/* Modals */
/* Use "#modals" selector to overwrite Bootstrap styles */

#modals .modal-content {
    border: 1px solid #8E8268;
    border-radius: 0.3rem;
    color: white;
}

#modals .modal-header {
    background-color: #844D36;
    border-bottom: 1px solid #8E8268;
    padding: 1.25rem 1rem .5rem;
}

#modals button {
    background-color: #844D36;
    color: white;
    border: none;
    cursor: pointer;
}

#modals .modal-body {
    background-color: #474853;
    padding-top: 30px;
}

#ratings-modal .modal-body {
    display: grid;
    grid-template-rows: repeat(5, auto);
    grid-row-gap: 15px;
}

.ratings-row {
    display: grid;
    grid-template-columns: 1fr .5fr 1.5fr;
}

#credits-modal .modal-body {
    display: grid;
    grid-template-rows: auto;
}

#credits-modal .modal-body ul {
    margin-left: 20px;
}

#credits-modal .modal-body li {
    font-weight: lighter;
}

#credits-modal .modal-body a:hover {
    color: white;
    text-decoration: underline;
}


/* Media Queries and Adjustmens */

@media screen and (max-width: 1200px) {
    #banner {
        grid: repeat(2, auto) / 1fr;
        height: 75vh;
    }
    
    #banner h1 {
        grid-row: 1 / 2;
        grid-column: 1 / 2;
        margin: 0;
    }
    
    #banner h2 {
        grid-row: 2 / 3;
        grid-column: 1 / 2;
        border-left: none;
        border-top: 2px solid #86B3D1;
        margin: 0;
        padding: 3vh 2vw;
        text-align: center;
    }
}